h1 {
  color: green;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: red;
  font-size: 15pt;
  top-margin: 6pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
iframe {
  width: 100%;
  height: 100vh;
}
head,body {
  height:100%;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: light gray;
}
.menu{
  flex: 5%
  background-color:
}
.content{
  flex: 70%
}
.footer{
  flex: 10%
}
  
