h1 {
  color: green;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: red;
  font-size: 15pt;
  top-margin: 6pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
head,body {
  height:100%;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
  flex: 15%;
  background-color: lightcyan;
}
.menu{
  flex: 5%;
  background-color: lightgray;
}
.content{
  flex: 70%;
  background-color: lightsalmon;
}
.content iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100vh;
}
.footer{
  flex: 10%;
  background-color: lightgray;
}
  
